
.root {
	-fx-background-image: url("money.png");
	-fx-background-color: lightcyan;
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;

}

#caixa-text{
	-fx-font-size: 32px;
   	-fx-font-family: "Arial Black";
   	-fx-fill: #818181;
   	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#label-text{
	-fx-font-size: 16px;
   	-fx-font-family: "Arial Black";
   	-fx-fill: #818181;
   	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#button-text-add{
	-fx-min-width: 25px;
	-fx-background-image: url('plus.png');
	-fx-background-radius: 100%;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;

}
#button-text-sub{
	-fx-min-width: 25px;
	-fx-background-image: url('minus.png');
	-fx-background-radius: 100%;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#upperButton-text{
    -fx-font-size: 11px;
    -fx-font-family: "Arial";
    -fx-border-radius: 20;
}
